@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bookly!</h1>
    <p class="lead">Your solution to managing Customers, Books, and Book Rentals.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
           Login as an Administrator to Create and Edit Customers and Books as Store Manager. Not a Store Manager, log in to View the list of
            Customers and Book. 
        </p>
    </div>
    <div class="col-md-6">
        <h2>Create Rentals</h2>
        <p>Use the New Rental page to log Book rentals for a Customer.</p>
    </div>
</div>