@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Bookly!</h1>
    <p class="lead">Your solution to managing Customers, Books, and Book Rentals.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Customers</h2>
        <p>
            Log in with administrative rights to create and edit Customers as a Store Manager. Not a Store Manager, log in to view the list of
            Customers.
        </p>
        @Html.ActionLink("Customers", "Index", "Customers", null, new { @class = "btn btn-primary btn-lg" })

    </div>
    <div class="col-md-4">
        <h2>Manage Books</h2>
        <p>
            Log in with administrative rights to create and edit Books as a Store Manager. Not a Store Manager, log in to view the list of
            Books.
        </p>
        @Html.ActionLink("Books", "Index", "Books", null, new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4">
        <h2>Create Rentals</h2>
        <p>Log in as a user with administrative or normal user rights and use the New Rental page to log Book rentals for a Customer.</p>
        @Html.ActionLink("Rentals", "New", "Rentals", null, new { @class= "btn btn-primary btn-lg"})
    </div>
</div>